.black-nav {
  width: 100%;
  display: flex;
  padding: 20px;
  color: white;
  background-color: black;
  font-weight: bold;
}

.center-div {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

input {
  width: 100%;
  box-sizing: border-box;
  padding: 8px 10px;
  margin: 1px 0;
  font-family: nanumsquare;

  &:focus{
    outline: none;
  }

  &.married {
    width: auto;
  }
}

label {
  margin-left: 5px;
}

form {
  width: 100%;
  font-family: nanumsquare;
  box-sizing: border-box;

  &.home-form {
    padding: 5% 10% 5%;
  }
}

button {
  width: 100%;
  font-family: nanumsquare;
  padding: 10px;
}
