.map-layout {
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  padding: 10px;

  .map-search-box {
    position: absolute;
    left: 10px;
    width: 30%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.8);
    z-index: 1;
    color: #ffffff;
    padding: 15px;
    box-sizing: border-box;

    .map-search-title {
      font-size: 14px;
      display: flex;
      justify-content: space-between;
      font-weight: bold;
      align-items: center;

      span {
        font-size: 10px;
        font-weight: normal;
      }
    }

    .mapSearch-box {
      height: 35px;
      padding: 5px;
      margin: 0 0 4px;
      border-radius: 3px;
      border: none;
    }

    .map-search-list {
      height: 340px;
      overflow-y: auto;
      padding-right: 10px;

      .address-item {
        font-size: 11px;
        border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.2);
        padding: 4px 0;

        a {
          color: #ffffff;
          display: block;
          margin-bottom: 4px;

          &.no-phone {
            margin-bottom: 0;
          }
        }

        .phone {
          background-color: #ffffff;
          color: black;
          display: block;
          width: auto;
          border-radius: 3px;
          text-align: center;
          margin-top: 3px;
        }
      }
    }

    .pagenation-box {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 8px;
      font-weight: normal;
      
      .pagenation-item {
        font-size: 13px;
        cursor: pointer;
        padding: 0 3px;
        color: #919191;

        &.active--item {
          color: #ffffff;
          font-weight: bold;
        }
      }
    }
  }
}
