.map-layout {
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  padding: 10px;

  .map-search-box {
    position: absolute;
    left: 10px;
    width: 30%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.8);
    z-index: 1;
    color: #ffffff;
    padding: 15px;
    box-sizing: border-box;
  }
}
