.map-search {
  width: 200px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);

  .search-input {
    display: flex;
    align-items: center;
    font-size: 14px;
    height: 25px;

    button {
      width: 30%;
      height: inherit;
      padding: 0;
      margin: 0;
      border: none;
    }

    input {
      width: 70%;
      height: inherit;
      padding: 0;
      margin: 0;
      border: none;
    }
  }
}
