.map-options {
  margin-top: 50px;
  padding: 10px;

  .dp-flex {
    display: flex;
    align-items: center;
  }

  form {
    .input-item {
      padding-bottom: 10px;
      border-bottom: 1px solid #e9e9e9;
      margin-bottom: 10px;

      .item-title {
        font-weight: bold;
        padding-bottom: 10px;
      }

      p {
        width: 10%;
      }
    }
  }
}
